## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

# [作業目標]
- 熟悉更多的 Python 資料操作

# [作業重點]
- 列出資料的大小 (In[4], Hint : shape)
- 列出所有欄位 (In[5], 有多種寫法)
- 擷取部分資料 (In[6], Hint : loc 或 iloc)

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path
dir_data = './data/'

In [3]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ./data/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [11]:
#307511個rows
#122個column
app_train.shape

(307511, 122)

#### 列出所有欄位

In [4]:
app_train.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

#### 截取部分資料

In [13]:
app_train[['SK_ID_CURR', 'AMT_ANNUITY']]

        SK_ID_CURR  AMT_ANNUITY
0           100002      24700.5
1           100003      35698.5
2           100004       6750.0
3           100006      29686.5
4           100007      21865.5
5           100008      27517.5
6           100009      41301.0
7           100010      42075.0
8           100011      33826.5
9           100012      20250.0
10          100014      21177.0
11          100015      10678.5
12          100016       5881.5
13          100017      28966.5
14          100018      32778.0
15          100019      20160.0
16          100020      26149.5
17          100021      13500.0
18          100022       7875.0
19          100023      17563.5
20          100024      21375.0
21          100025      37561.5
22          100026      32521.5
23          100027      23850.0
24          100029      12703.5
25          100030      11074.5
26          100031      27076.5
27          100032      23827.5
28          100033      57676.5
29          100034       9000.0
...            ...          ...
307481      456225      19975.5
307482      456226      34969.5
307483      456227      16479.0
307484      456228      35617.5
307485      456229       9000.0
307486      456230      18283.5
307487      456231      31473.0
307488      456232      13351.5
307489      456233      23089.5
307490      456234       9148.5
307491      456235      31522.5
307492      456236      43443.0
307493      456237      37678.5
307494      456238      46858.5
307495      456239      23773.5
307496      456240      16875.0
307497      456241      12028.5
307498      456242      52168.5
307499      456243      12694.5
307500      456244      35982.0
307501      456245      11871.0
307502      456246      10620.0
307503      456247      17770.5
307504      456248      16096.5
307505      456249      22050.0
307506      456251      27558.0
307507      456252      12001.5
307508      456253      29979.0
307509      456254      20205.0
307510      456255      49117.5

[307511 rows x 2 columns]

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子